footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
    position: relative;
}

h4 {
    font-style: italic;
    text-align: center;
    color: white;
}

