footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}

h6 {
    font-style: italic;
    text-align: center;
    color: aliceblue;
}