Nav {
    background-color: black;
    width: 100%;
    float: right;
    display: inline;
    border-right: 1px solid;
}

Navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;

}
